<div>
    <form [formGroup]="proposalForm" method="post" (submit)="addSales()">
      <h2>Sales Information</h2>
      <label>
        Sales Name: <input formControlName="SalesName" />
      </label>
      <br>
      <label>
        Customer Name: <input formControlName="CustomerName" />
      </label>
      <br>
      <label>
        Customer Address: <input formControlName="CustomerAddress" />
      </label>
      <br>
      <label>
        Customer Contact: <input formControlName="CustomerContact" type="number"/>
      </label>
      <br>
      <h2>Product Information</h2>
      <br>
      <div formArrayName="orders">
          <div *ngFor="let item of orders.controls; let pointIndex=index" [formGroupName]="pointIndex">
            <label>
        Product Name: <select class="form-control" formControlName="product_id"  required >
            <option *ngFor="let P of product" [value]="P.id">{{P.Productname}}</option>
          </select>
      </label>
      <br>
      <label>
        Proposed Price: <input formControlName="ProposedPrice" type="number" />
      </label>
      <br>
      <label>
        Quantity: <input formControlName="Quantity" type="number" />
      </label>
      <button type="button" (click)="deleteOrder(pointIndex)">Delete Order</button>
      </div>
      <br>
      <button type="button" (click)="addOrder()">Add Order</button>
     </div> 
     <br>
     <br>
     <button type="submit"  class="btn btn-primary">Submit</button>
    </form>
</div>
