input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

mat-selection-list{
    height:40vh;
    overflow-y: scroll;
    outline:none;
  }
   ::ng-deep.mat-pseudo-checkbox{
    display: none !important;
  }
  .list{
    margin-top:-20px;
  }
  