<div>
    <form [formGroup]="proposalForm" method="post" (submit)="addSales()">
      <h2>Sales Information</h2>
      <br>
      <label>
          Nolang: <input formControlName="nolang" />
      </label>
      <br>
      <label>
        Customer Name: <input formControlName="CustomerName" />
      </label>
      <br>
      <label>
        Customer Address: <input formControlName="CustomerAddress" />
      </label>
      <br>
       <label>
        Postcode: <input formControlName="Postcode" type="number"/>
       </label>
       <br>
      <label>
        Customer Contact: <input formControlName="CustomerContact" type="number"/>
      </label>
      <br>
      <label>
        PIC: <input formControlName="ContactPerson" />
      </label>
      <br>
      <label>
        Warehouse: <input formControlName="warehouse" />
      </label>
      <br>
      <h2>Product Information</h2>
      <br>
      <div formArrayName="orders">
          <div *ngFor="let item of orders.controls; let pointIndex=index" [formGroupName]="pointIndex">
            <label>
          
          Product Name: 
          <input id="searchField" type="text" #searchField  placeholder="Search" formControlName="searchModelForm" 
              (ngModelChange)="updateSearchModel($event)" name="list_name_{{pointIndex}}">
          <select class="form-control" formControlName="product_id"  required name="list_name_{{pointIndex}}">
              <option value="" disabled selected>Select your option</option>
            <option *ngFor="let P of product | listFilter: searchModelForm" [value]="P.id">{{P.Productname}}</option> 
          </select>
          Setelah searching, tolong click pilihan. 
          <!-- add | listFilter: searchModel in ngFor when possible -->
      </label>
      <br>
      <label>
        Proposed Price: <input formControlName="ProposedPrice" type="number" /> termasuk 10% PPn
      </label>
      <br>
      <label>
        Quantity: <input formControlName="Quantity" type="number" />
      </label>
      <button type="button" (click)="deleteOrder(pointIndex)">Delete Order</button>
      </div>
      <br>
      <button type="button" (click)="addOrder()">Add Order</button>
     </div> 
     <br>
     <br>
     <button type="submit"  class="btn btn-primary">Submit</button>
    </form>
</div>
