<div *ngIf="proposal">
  <p>ID:                     {{proposal.id}} </p>
  <p>Sales Name:             {{proposal.SalesName}} </p>
  <p>Customer Name:          {{proposal.CustomerName}} </p>
  <p>Customer Address:       {{proposal.CustomerAddress}} </p>
  <p>Customer Contact:       {{proposal.CustomerContact}} </p>
  <p>Contact Person:         {{proposal.ContactPerson}} </p>
  <p>Warehouse:              {{proposal.warehouse}} </p>
  <p>Nolang:                 {{proposal.nolang}} </p>
  <!-- <p>Delivery Method:        {{proposal.DeliveryMethod}} </p> -->
  <br>
  <h2>Order Detail</h2>
  <hr>
  <form method="post" (submit)="setStatus()">
  <table orderDetails>
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr orderDetailCol *ngFor="let order of orders; let i=index">
        <td>{{order.ProductCode}}</td>
        <td>{{order.ProductName}}</td>
        <td>Rp. {{order.ProposedPrice | number : '1.2-2'}}</td>
        <td>{{order.Quantity}}</td>
        <td><ng-container *ngIf="order.Accepted === 1; then accepted; else pending;">
          <ng-container *ngIf="order.Accepted === 0; then reject; else pending;"></ng-container>
        </ng-container>
          <ng-template #accepted>Accepted</ng-template>
          <ng-template #pending>pending</ng-template>
            <ng-template #reject>Rejected</ng-template>
        <td>{{order.RecommendedPrice}}</td>
        <td><ng-container *ngIf="order.Status === 1; then win; else show;">
          <ng-container *ngIf="order.Status === 0; then lose; else show;"></ng-container>
        </ng-container>
        <ng-template #win>Win</ng-template>
        <ng-template #lose>Lose</ng-template>
          <ng-template #show>
            <ul class="list-group">
            <li class="list-group-item"  *ngFor="let Wl of Winlose">
              <input type="radio" [(ngModel)]="order.Status" name="list_name_{{i}}" value="{{Wl.value}}"> 
                  {{Wl.name}}
            </li>
          </ul>   
        </ng-template> 
        </td>
      </tr>
    </tbody>
  </table>
  <button type="submit"  class="btn btn-primary">Submit</button>
  </form>
  <br>
  <button (click)="goBack()">Go Back</button>
</div>
