<div *ngIf="proposal">
  <p>ID:                     {{proposal.id}} </p>
  <p>Sales Name:             {{proposal.SalesName}} </p>
  <p>Customer Name:          {{proposal.CustomerName}} </p>
  <p>Customer Address:       {{proposal.CustomerAddress}} </p>
  <p>Customer Phone:         {{proposal.CustomerContact}} </p>
  <br>
  <h2>Order Detail</h2>
  <hr>
  <table orderDetails>
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr orderDetailCol *ngFor="let order of orders">
        <td>{{order.ProductName}}</td>
        <td>{{order.ProductCode}}</td>
        <td>Rp. {{order.ProposedPrice | number : '1.2-2'}}</td>
        <td>{{order.Quantity}}</td>
        <td>
            <ng-container *ngIf="order.Accepted === 1; then accepted; else pending;"></ng-container>
            <ng-template #accepted>Accepted</ng-template>
            <ng-template #pending>
              <ng-container *ngIf="order.Accepted === null; then pending2; else denied">
              </ng-container>
            </ng-template>
            <ng-template #denied>Denied</ng-template>
            <ng-template #pending2>Pending</ng-template>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="goBack()">Go Back</button>
</div>
