<nav *ngIf="!isLoggedIn">
  <a routerLink="/register">Register</a><p> </p>
  <a routerLink="/login">Login</a>
</nav>
<nav *ngIf="isLoggedIn">
  <h3>Welcome {{name}}</h3>
  <a routerLink="/sales">Register project</a>
  <a routerLink="/listofapproval">Project Details</a>
  <button (click)="logout()">logout</button>
</nav>
