<table salesTable>
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr salesTableCol *ngFor="let sale of sales">
      <td><a routerLink="/projectdetail/{{sale.id}}">Request {{sale.id}}</a></td>
    </tr>
  </tbody>
</table>