.logo-axiqoe{
    background-image: url(../img/logo-axiqoe.png);  
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 70px;
}

.logo-cover{
    height: 75px;
    width: 85%;
    margin: auto;
    margin-top: 10vh;
}

.logo-cover + div{
    text-align: center;
    margin-top: 15vh;
}

.side-logo{
    margin-top: 25px;
}

.bg-primary{
    background-color: rgba(244, 140, 34, 0.35) !important;
}

.bg-primary-dark{
    background-color: rgba(244, 140, 34, 1) !important;
}

.bg-secondary{
    background-color: rgba(16, 10, 106, 0.25) !important;
}

.bg-secondary-dark{
    background-color: rgba(16, 10, 106, 1) !important;
}

.bg-secondary-dark a.nav-link, .bg-secondary-dark th{
    color: white !important;
    font-weight: 600;
}


.page-title{
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
}

.page-title.title-signup{
    color: #100A6A;
}

.page-title.title-login{
    color: #F48C22;
}

.form-title{
    text-align: left;
}

.btn.btn-slim{
    min-width: 0;
}

.btn-toggle{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 1.3rem;
}

.btn-toggle:not(:disabled):not(.disabled).active, .btn-toggle:not(:disabled):not(.disabled):active, .show>.btn-toggle.dropdown-toggle,
.btn-toggle:hover,
.btn-toggle:focus
{
    background-color: transparent;
    border: 0;
    color: white;
    box-shadow: 0 0 0 0;
}

.form-container{
    padding: 30px 15px;
}

.form-signup{
    border-radius: 20px;
    margin-top: 50px;
}

.form-login{
    border-radius: 20px;
    margin-top: 50px;
}

form .error-message{
    font-size: 0.75rem;
    display: block;
    color: #dc3545;
    font-weight: 600;
}

form .btn-submit{
    margin-top: 32px;
}

form td .btn-submit{
    margin-top: 0px;
}


form h1,
form h2,
form h3,
form h4,
form h5,
form h6{
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
}

.navbar{
    /* position: fixed; */
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

.sidebar-wrapper{
    position: fixed;
    left: -100vw;
    height: 100vh;
    transition: left 0.5s;
    z-index: 1040;
}

.sidebar-wrapper.active{
    left: 0;
}

.sidebar{
    min-height:100%;
    position: absolute;
    min-width: 250px;
    max-width: 250px;
    z-index: 1050;

}

.sidebar .sidebar-menu{
    list-style: none;
    padding: 0;
}

.sidebar .sidebar-menu a{
    padding: 15px 10px;
    display: block;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: relative;
}

.sidebar .sidebar-menu a:hover{
    color: #fff;
    background-color: rgba(244, 140, 34, 0.8);
    text-decoration: none;
}

.sidebar .sidebar-menu a.active{
    color: #fff;
    background-color: rgba(244, 140, 34, 1);
}

.sidebar ul.sidebar-menu ul a{
    padding: 10px 25px;
    font-size: 1rem;
}

.sidebar-backdrop{
    z-index: 1040;
    background-color: black;
    opacity: 0.3;
    min-height:100%;
    position: absolute;
    width: 100vw;
}

.sidebar-backdrop:not(.active){
    display:none;
}

.sidebar .sidebar-menu .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* .content-area{ */
    /* position: fixed;
    top: 69px;
    left: 0px;
    height: calc(100vh - 69px);
    width: 100vw;
    overflow-y: auto; */
    /* padding-top: 69px; */
/* } */
.table-wrapper{
    overflow-x: scroll;
}

.has-search .form-control {
    padding-left: 2.375rem;
    margin-top: 40px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}